+++
title = "mxsm"
linkTitle = "mxsm"

+++

{{< blocks/cover title="蚂蚁背大象!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/mxsm">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
	更新说明 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">要有遥不可及的梦想，也要有脚踏实地的本事</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
 下面列举了技术笔记的分类，主要涵盖了Java Web开发过程中用的主流的开发框架和技术，例如：Spring全家桶(Spring Framework，Spring Boot, Spring cloud)、消息中间件(Rocket MQ)、缓存中间件(Redis)等等。同时还有
自己在开发过程中使用的技术的一些心得和终结。
{{% /blocks/lead %}}


{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fab fa-twitter" title="Java基础" url="https://twitter.com/docsydocs" %}}
Java 的源码分析、JVM的命令等
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="消息中间件" url="https://twitter.com/docsydocs" %}}
Rocket MQ使用过程中出现的问题终结和源码分析。
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="缓存中间件" url="https://twitter.com/docsydocs" %}}
Redis、Ehcahe等中间件使用的例子
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Spring Framework" url="/docs/examples/" %}}
Spring基础框架的源码解析以及Spring注解的源码解析和如何自定义spring注解的案例。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Spring Boot" url="https://github.com/google/docsy" %}}
Spring Boot框架源码解析，starter自定义和原理等一些关于Spring Boot的知识
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Spring cloud" url="https://twitter.com/docsydocs" %}}
Spring Cloud的使用和源码分析
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="数据库" url="https://twitter.com/docsydocs" %}}
常用的MySQL数据库、PostgreSQL数据库的使用和使用过程中的问题笔记
{{% /blocks/feature %}}

{{< /blocks/section >}}

