{{ with .Site.Params.algolia_docsearch }}
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js"></script>
<script  type="text/javascript">
    docsearch({
       /* appId: 'JO2SY3WDAC',
        apiKey: '324ddb3b679c1308e5aa8bf222e07f8b',
        indexName: 'mxsm',*/
        apiKey: '25626fae796133dc1e734c6bcaaeac3c',
        indexName: 'docsearch',
        inputSelector: '.td-search-input',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>
{{ end }}